# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Database Configuration
*.properties

# Intellij Project Files
target
build
*~
*.log
.classpath
.project
*.ipr
*.iws
*.iml
.settings
.git
.svn
*.class
*.bak

